@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import popup.css body {
  @apply bg-purple-200;
} */

body {
  font-family: 'Inter', sans-serif;
}

.active {
  text-decoration: underline;
  color: white;
}